/* Estilos para a página de sucesso */
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    color: #4B10ED; /* Cor do texto */
  }
  
  p {
    color: #333; /* Cor do parágrafo */
  }