<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Notícias</ion-title>
    <ion-buttons slot="end">
      <ion-button class="profile-button" (click)="goToProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="noticias-container">
    <h1>Bem-vindo aos Fatos!</h1>
    <p>Aqui você encontrará Fatos sobre animais.</p>

    <p *ngIf="!imageUrl && !fact" class="error-message">
      Erro ao carregar dados. Tente novamente.
    </p>

    <div *ngIf="imageUrl" class="dog-image">
      <img [src]="imageUrl" alt="Imagem de um cachorro" />
    </div>

    <div class="dog-fact">
      <p *ngIf="fact">{{ fact }}</p>
      <p *ngIf="!fact && imageUrl">Carregando fato...</p>
    </div>

    <ion-button expand="full" (click)="loadDogFactAndImage()">Carregar outro fato</ion-button>
  </div>
</ion-content>
