<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <img src="assets/icon/abc.png" class="top-image" alt="Logo">

    <h1>Bem Vindo de volta!</h1>
    <h2>Acesse a sua conta</h2>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <ion-item>
        <ion-label position="floating">Insira seu email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required email></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Insira sua senha</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required></ion-input>
        
        <ion-icon 
          [name]="showPassword ? 'eye-off' : 'eye'" 
          slot="end" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Entrar</ion-button>

      <div *ngIf="loginFailed" class="error-message">Credenciais inválidas. Tente novamente.</div>
      <div *ngIf="emailInvalid" class="error-message">Por favor, insira um email válido.</div>

      <div class="register-link">
        <p>OU</p>
        <a (click)="goToRegister()">Não tem um login? Se registrar</a>
      </div>
    </form>
  </div>
</ion-content>
