/* src/app/login/login.page.scss */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #4B10ED; /* Cor de fundo roxa */
  padding: 20px;
  font-family: 'Inter', sans-serif; /* Define a fonte para todo o container */
  font-weight: 400; /* Fonte regular */
}

h1, h2, ion-label, .error-message, .or-text, .register-link, .login-options, ion-input, ion-button {
  font-family: 'Inter', sans-serif; /* Garante a fonte Inter */
  font-weight: 400; /* Regular para todos os elementos */
}

h1 {
  margin-bottom: 10px;
  color: #FFE414; /* Cor amarela */
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  text-align: left; /* Alinha o subtítulo à esquerda */
  width: 100%; /* Ocupa 100% da largura para alinhamento */
  margin-left: 20px; /* Margem à esquerda para espaçamento */
}

ion-item {
  --background: #FFFFFF; /* Fundo branco */
  --color: #000000; /* Texto preto */
  border-radius: 5px; /* Arredondar os cantos */
  margin-bottom: 15px; /* Espaçamento entre inputs */
  padding: 5px;
}

ion-input {
  --placeholder-color: #000000; /* Placeholder preto */
}

ion-checkbox {
  --background: #FFE414; /* Cor do checkbox */
  --checkmark-color: #000000; /* Cor do checkmark */
}

ion-button {
  width: 100%; /* Botão ocupando largura total */
  height: 50px;
  --background: #FFE414; /* Fundo amarelo */
  --color: black; /* Texto preto */
  border-radius: 10px; /* Cantos arredondados */
  margin-top: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  color: white;
}

.login-options a {
  color: #FFE414; /* Link amarelo */
  text-decoration: none;
}

.or-text {
  margin-top: 20px;
  color: white;
}

.register-link {
  color: #FFE414;
  text-align: center;
}

.error-message {
    color: red;
    margin-top: 10px;
  }