<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h1>Bem vindo de Volta!</h1>
    <h2>Acesse a sua conta</h2>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <ion-item>
        <ion-label position="floating">Insira seu Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required email></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Insira sua senha</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <div class="login-options">
        <ion-checkbox slot="start"></ion-checkbox>
        <span>Salvar Login</span>
        <a href="#">Esqueceu a senha?</a>
      </div>

      <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Entrar</ion-button>
    </form>

    <div class="or-text">OU</div>
    <div class="register-link">
      <a href="#">Não tem um login? <b>Se Registrar</b></a>
    </div>
  </div>
</ion-content>
