// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* src/theme/variables.scss */
/* src/theme/variables.scss */

:root {
    --ion-background-color: #4B10ED; /* Cor de fundo da tela */
    --ion-toolbar-background: #4B10ED; /* Cor de fundo da toolbar */
    --ion-text-color: white; /* Cor do texto */
  }
  