/* src/app/register/register.page.scss */

ion-content {
    --background: #4B10ED; /* Fundo branco */
  }
  
  ion-item {
    margin-bottom: 15px; /* Espaçamento entre os itens */
  }
  
  ion-button {
    margin-top: 20px; /* Margem superior para espaçamento */
  }